body{
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #EEEEEE;
}

#navLinks {
    display: flex;
    flex-direction: row;
}

.navLink {
    margin-left:30px;
    text-decoration: none;
    color: black;
}

.navText {
    font-family: 'Arvo';
    font-weight: normal;
    margin: 0;
}

#content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textBlurb {
    width: 100%;
    font-family: 'Montserrat';
}

.textBlurb > h1 {
    font-weight: normal;
}

#profileImage {
    border: 2px solid black;
    border-radius: 16px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 30%;
}

.projectImage {
    align-self: center;
    border: 2px solid black;
    border-radius: 8px;
}

.projectDescription {
    font-size: 12px;
}

.blogLink {
    text-decoration: none;
    color: black;
}

.blogEntry {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 24px;
}

.blogThumbnail {
    overflow: hidden;
    height: 100%;
}

.blogSummary {
    height: 100%;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blogText {
    margin: 0;
}

.blogSummaryDate {
    font-style: italic;
}

.blogSummaryText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
